<br>
<!-- pk el footer estigui abaix mirar css body -->
<footer style="margin-top: auto;">
     <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto" style="margin-top: 55px;">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://github.com/JosepAnSabate" style="color: inherit;"">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/josep-andreu-sabat%C3%A9-b4b41a1b6/" style="color: inherit;">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul> 
            <p class="copyright text-muted" style="text-align: center;">Copyright &copy; Josep AnSab</p>
          </div>
        </div>
      </div>
</footer>