
<nav class="navbar">
    <a href="/" style="color: inherit; text-decoration: none;"><div class="brand-title">
        <i class="fas fa-map-marked  fa-2x mr-6" style="margin-left: 15px;"></i>
    </div></a>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="/">Mapa</a></li>
            <li><a href="/positions/new">Crea posició</a></li>

            <!-- <li><a href="/about">About</a></li> -->
            <% if(!loggedIn) { %>
             <li><a href="/auth/login">Inicia Sessió</a></li>

             <li><a href="/auth/register">Registra't</a></li>
            <% } %>
            <% if(loggedIn) { %>
             <li><a href="/auth/logout">Tanca Sessió</a></li>
            <% } %>
        </ul>
    </div>
</nav>
<!-- 
<a href="/">Index</a>
<br><br>

<a href="/about">About</a>
<br> <br>


<% if(loggedIn) { %>
<a href="/positions/new">New Post</a>
<br> <br>
<% } %>

<% if(!loggedIn) { %>
<a href="/auth/register">Register</a>
<br><br>

<a href="/auth/login">Login</a>
<br><br>
<% } %>

<% if(loggedIn) { %>
    <a href="/auth/logout">Logout</a>
    <br> <br>
<% } %>
 -->
